<table class="budget-table">
    <tbody>
        {{#each @budgets as |budget|}}
            <tr class="budget-type {{budget.number_type}}">
                <td class="budget-type-name">{{budget.type}}</td>
                <td id="budget-amount">{{budget.amount}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
