<nav>
    <LinkTo @route="monthly-budget">
        <h3>Budget Manager</h3>
    </LinkTo>
    <div class="links">
        <LinkTo @route="expenses">Expenses</LinkTo>
        <LinkTo @route="incomes">Incomes</LinkTo>
    </div>
</nav>
